<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://clinic-portal.runasp.net/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>1ebb0fb1-06ff-42b3-b9d6-9df698493dc4</ProjectGuid>
    <MSDeployServiceURL>site64150.siteasp.net</MSDeployServiceURL>
    <DeployIisAppPath>site64150</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>site64150</UserName>
    <_SavePWD>True</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <EnvironmentName>Production</EnvironmentName>
  </PropertyGroup>
  <ItemGroup>
    <MsDeployDeclareParameters Include="IIS Web Application Name">
      <Kind>ProviderPath</Kind>
      <Scope>IisApp</Scope>
      <Match>site64150</Match>
      <Description>Internal parameter used by Web Deploy</Description>
      <DefaultValue>site64150</DefaultValue>
      <Value>site64150</Value>
    </MsDeployDeclareParameters>
  </ItemGroup>
</Project>
